.main{
    min-height: 85vh;
    width:85%;
    margin:auto;
}
html{
    background-image: url(https://images.hdqwalls.com/download/windows-11-dark-4k-r6-1920x1080.jpg);
    height: 200px;
}
a {
    text-decoration:none;
}
h1{
   color: aliceblue; 
   text-align: center;
   text-rendering: geometricPrecision;
   text-decoration:underline crimson;
   font-size: xx-large
}
.JavaScript{
    float: left;
    margin: 10px;
}
#hey{
    color: aliceblue;
    text-align: left;
    font-size: large;
}
.js{
    border: 100px;
}
#hy{
    font-size: medium;
    color: antiquewhite;
    width: auto;
}
.python{
    float: left;
    margin: 10px;
}
#p{
    color: antiquewhite;
    width: auto;
    text-align: left;
    font-size: large;
    
}
#ph{
    font-size: medium;
    color: azure;
    width: auto;
}
.jvm{
    float: left;
    margin: 10px;
}

#j{
    color: aliceblue;
    text-align: left;
    font-size: large;
}
#m{
    font-size: medium;
    color: antiquewhite;
    width: auto;
}

.HT{
    float: left;
    margin: 10px;
}
#L{
    font-size: medium;
    color: azure;
    width: auto;
}
#M{
    color: antiquewhite;
    width: auto;
    text-align: left;
    font-size: large;
}

button{
    background-color: crimson;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor:pointer;
}
.homepagebutton{
    text-align: center;
    cursor:pointer;
}
